
body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}

h1 {
    font-size: 20px;
}

/* ここから主にカレンダー部分用のCSS */

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    font-size: 13px;
    border: 1px solid #ddd;
    padding-top: 1vh;
    padding-bottom: 10vh;
    text-align: center;
}

td:first-child {
    color: rgb(255, 31, 31) !important;
}

td:last-child {
    color: rgb(60, 95, 202) !important;
}

td.surplus {
    color: rgb(129, 129, 129) !important;
}

.main { 
    width: 62.5vw;
    margin: 0 auto;
}

.menu {
    padding-top: 20px;
}

#week {
    padding: 0.5vh 4vw;
    color: rgb(88, 88, 88);
}

#prev, #next {
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 1.5em;
    transition: background-color 500ms;
}

#prev {
    margin-left: 20px;
}

#prev:hover {
    background: rgba(238, 238, 238, 0.7);
}

#next {
    margin-left: 10px;
    margin-right: 20px;
}

#next:hover {
    background: rgba(238, 238, 238, 0.7);
}

.menu {
    display: flex;
    user-select: none;
}

.today {
    background: rgba(255, 122, 60, 0.192);
}


/* ここからモーダル＆Todoリスト用のCSS */


.container {
    max-width: 400px;
    background: #475e9e;
    border-radius: 5px;
    padding: 15px 40px 70px 40px;
    position: fixed;
    top: 15vh;
    left: 37vw;
    
}

.fadein {
    opacity : 0;
    z-index: -9999;
    transform : translate(0, 30px);
    transition : all 600ms;
}

.fadein.active {
    opacity : 1;
    z-index: 9999;
    transform : translate(0, 0);
}

#close {
    font-size: 20px;
    text-align: right;
    cursor: pointer;
}

input[type=text],
input[type=text]:focus {
    color: #9abca4;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

/* 追加 */
.todos li {
    background: #2c4b79;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

/* 追加 */
.delete {
    cursor: pointer;
    color: white;
}

.filtered {
    display: none !important;
}